export(epi_anti.trafo)
export(epi_universal)
export(epi_universal_trafo)
export(epi_horvath)
export(epi_horvath_snb)
export(epi_intrin_clock)
export(epi_zhang_en)
export(epi_zhang_blup)
export(epi_wu)
export(epi_bocklandt)
export(epi_garagnani)
export(epi_hannum)
export(epi_lin)
export(epi_vidalbralo)
export(epi_weidner)
